.reset-password-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.reset-password-container {
  padding: 2rem;
  background: linear-gradient(to right, #869ba6 0%, #c5ada2 50%, #7087a2 100%);
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #869ba6;
}

.reset-password-container h2 {
  margin-bottom: 1rem;
  color: #a74737;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
}

.reset-message {
  margin-bottom: 1rem;
  color: #a74737;
  font-size: 0.85rem;
  font-family: 'Segoe UI', sans-serif;
}

.input-icon input {
  width: 100%;
  padding: 0.65rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  font-size: 0.95rem;
}

.reset-password-container button {
  padding: 0.65rem;
  background-color: #869ba6;
  color: #242529;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #7087a2;
}